<div *ngIf="item">
<div><p>Каталог/обувь/кроссовки/беговые</p></div>
<h3>{{item.name}}</h3>
  <div class="itemContent">
    <div class="imgBlock">
      <img src="{{item.imgURL}}" alt="">
      <div class="imgAndSimilarItems">
        <button>left</button>
        <div>imgLinks</div>
        <button>right</button>
      </div>
      <div class="characteristicBlock">
        <div class="cartBlock"></div>
        <div class="characteristics"></div>
        <div class="overview"></div>
      </div>
    </div>
    <div></div>
  </div>

</div>
